.todoForm {
  display: flex;
  justify-content: center;
  height: 3.375rem;
  margin-top: calc(-3.375rem / 2);
}

.todoForm input {
  background: var(--gray-500);
  border: 0;
  padding: 1rem;
  border-radius: 8px;
  color: var(--gray-300);
  line-height: 1.4;
  width: 39.875rem;
}

.todoForm button[type="submit"] {
  padding: 1rem;
  border-radius: 8px;
  border: 0;
  background: var(--blue-dark);
  color: var(--gray-100);
  font-weight: bold;
  cursor: pointer;
  margin-left: 0.5rem;
  width: 5.625rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.1s;
}

.todoForm button[type="submit"]:hover {
  background-color: var(--blue);
}
